/* Last update on day 4 */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    display: block;
    margin: 0 auto;
}

.error_text {
    font-size: 20px;
}


.credit {
    color: black;
    font-size: 10px;
}

.credit a {
    color: black;
    font-size: 10px;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.5s ease;
    transition: color 0.5s ease;
}

.credit a:hover {
    text-decoration-color: blue;
    color: blue;
}