/* Last update on day 4 */

.links {
    text-align: center;
    padding: 10px;
    width: 50%;
    min-width: 276px;
}

.links img {
    width: 20px;
    display: block;
}

.links a {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.general {
    position: relative;
    display: block;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 13px;
}

.telegram {
    background-color: #24A1DE;
    border-color: #24A1DE;
    color: #FFFFFF;
}

.steam {
    background-color: #171A21;
    border-color: #171A21;
    color: #FFFFFF;
}

.github {
    background-color: #000000;
    color: #FFFFFF;
}

.bluesky {
    background-color: #1185FE;
    border-color: #1185FE;
    color: #FFFFFF;
}

.x {
    background-color: #000000;
    color: #FFFFFF;
}

.twitch {
    background-color: #9146FF;
    border-color: #9146FF;
    color: #FFFFFF;
}

.vrchat {
    background-color: #FFFFFF;
    color: #000000;
}

.discord {
    background-color: #5865F2;
    border-color: #5865F2;
    color: #FFFFFF;
}

.furafifnity {
    background-color: #FAAF3A;
    border-color: #FAAF3A;
    color: #000000;
}

.joystick {
    background-color: #5cb1bd;
    border-color: #5cb1bd;
    color: #FFFFFF;
}

.email {
    background-color: #CC6F24;
    border-color: #CC6F24;
    color: #FFFFFF;    
}